header {
  display: flex;
  justify-content: space-between;
  background-color: #2e05a1;
  border-bottom: 10px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  background-color: #2e05a1;
  text-align: right;
}
a {
  display: inline-flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: "";
  background-color: #f25a70;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button {
  display: inline-block;
  background-color: #f25a70;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 0 black;
  margin-right: 0px;
}
