.button {
  display: inline-block;
  background-color: #f25a70;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 0 black;
  margin-right: 0px;
  transition: 200ms linear;
  text-decoration: none;
  color: white;
}

.button:hover {
  transform: scale(1.1);
  background-color: #ff0000;
}
